@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site contains a list of beverages in a database that you can access if you sign in...</p>
<p>Once signed in you should noticed a directory link next to home about and contact called Beverages.</p>
<p>Click on the link if you would like to access the wine cellar database which allows you to view, update, delete, add new wine items.</p>
<p>You may also search for new wine items using the filter settings at the top of the Beverages page by adding in the search criteria.</p>
