@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wine Drive<br />
    Kalamazoo, MI 49008<br />
    <abbr title="Phone">P:</abbr>
    269.344.9463
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Zholderman6722@mail.kvcc.com">zholderman6722@mail.kvcc.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:WineCellar@Wine.com">WineCellar@wine.com</a>
</address>