@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wine Cellar</h1>
    <p class= "lead">Take a stroll through our wine cellar. There is plenty of selections!</p>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
